.sidebar {
    height: 85vh;
    grid-area: sidebar;
    border-bottom: 1px solid var(--base-sub-color);
    border-right: 1px solid var(--base-sub-color);
}

.sidebar .todo__category {
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 10px;
}

.sidebar .todo__category .category__title {
    padding-bottom: 5px;
}

.sidebar .todo {
    position: relative;
}

.sidebar .todo:hover {
    cursor: pointer;
    background-color: #c4c4c4;
}

.sidebar .todo:hover::after {
    content: "•••";
    position: absolute;
    right: 5px;
    top: 3.5px;
}

.sidebar .todo__first {
    list-style: inside;
    padding-left: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
}

.sidebar .todo__first > .todo__title::before {
    content: "😀";
    position: absolute;
    top: 4.5px;
    left: 0px;
}

.sidebar .todo__second {
    padding-left: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
}

.sidebar .todo__first .todo__second > .todo__title::before {
    content: "😀";
    position: absolute;
    left: 0px;
}