.main {
    height: 85vh;
    grid-area: main;
    border-bottom: 1px solid var(--base-sub-color);
}

.main .main__container {
    padding: 20px;
}

.main .main__container .main__header {
    font-size: 1.8rem;
    padding: 5px 0;
    margin-bottom: 20px;
}

.main .main__container .main__content {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main .main__container .main__content .todo {
    /* background-color: #ffed8f; */
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    line-height: 25px;
}

.main .main__container .main__content .todo .todo__item {
    cursor: pointer;
    position: relative;
}

.main .main__container .main__content .todo .todo__item > label {
    display: flex;
    align-items: center;
}

.main .main__container .main__content .todo .todo__item input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.main .main__container .main__content .todo .todo__item input:checked + span:after {
    content: ' \2713\0020';
    color: white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(110,200, 250);
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    margin-right: 4px;
    margin-top: 2px;
    padding: 0px 0px 0px 3px;
}

.main .main__container .main__content .todo .todo__item span.checkbox {
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    margin-right: 4px;
}

.main .main__container .main__content .todo .todo__item span.input {
    user-select: none;
}

.main .main__container .main__content::after {
    content: "+";
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 2px dashed #777777;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
