.side-bar-subcategory {
    padding-left: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    border-radius: 3px;
    height: 15px;
    display: flex;
    align-items: center;
}

.side-bar-subcategory:hover {
    cursor: pointer;
    background-color: #c4c4c4;
}

.side-bar-subcategory .side-bar-subcategory__menu {
    display: none;
    margin-left: auto;
    margin-right: 6px;
}

.side-bar-subcategory:hover .side-bar-subcategory__menu {
    display: block;
}

.side-bar-subcategory::before {
    content: "😀";
    position: absolute;
    left: 4px;
}

.side-bar-subcategory .menu {
    position: absolute;
    top: 20px;
    right: 2px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #6a6a6a;
    z-index: 3;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 22px;
    min-width: 135px;
    box-sizing: border-box;
}

.side-bar-subcategory .menu li {
    padding-left: 10px;
    padding-right: 10px;
}

.side-bar-subcategory .menu li:hover {
    background-color: #90d5ff;
    cursor: pointer;
}