.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 0.5;
    z-index: 2;
    cursor: default;
}

.overlay--transparent {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    cursor: default;
}
