.todo {
    cursor: pointer;
    position: relative;
}

.todo > label {
    display: flex;
    align-items: center;
}

.todo input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.todo input[type="checkbox"]:checked + span:before {
    content: ' \2713\0020';
    color: white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(29, 174, 255);
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    margin-right: 4px;
    margin-top: 2px;
    padding: 0px 0px 0px 3px;
}

.todo span.checkbox {
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    margin-right: 4px;
}

.todo span.input {
    user-select: none;
}

.todo .todo__menu {
    position: absolute;
    display: none;
    margin-left: auto;
    margin-right: 6px;
    top: 0;
    right: 0;
    padding: 0 3px;
    background-color: var(--base-background-color);
}

.todo:hover .todo__menu {
    display: block;
}

.todo--transparent .add-new-todo {
    width: 18px;
    height: 18px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 1px;
    cursor: pointer;
    position: relative;
}

.todo--transparent .add-new-todo:before {
    content: "+";
    position: absolute;
    top: -4.5px;
    left: 3.2px;
    color: gray;
}

.todo--transparent .add-todo-input {
    height: 18px;
    width: 85%;

}

.todo--transparent .add-todo-div > button {
    height: 25px;
    background-color: white;
    border-color: gray;
}

.todo--transparent .add-todo-button,
.todo--transparent .cancel-add-todo-button {
    cursor: pointer;
}

.todo__title--edit {
    font-size: 1.3rem;
    width: 90%;
    margin-top: -10px;
    margin-left: -2px;
}

.todo__title--edit:focus{
    outline: none;
}