.main {
    height: 85vh;
    grid-area: main;
    border-bottom: 1px solid var(--base-sub-color);
}

.main .main__container {
    padding: 20px;
    position: relative;
}

.main .main__container .main__header {
    font-size: 1.8rem;
    padding: 5px 0;
    margin-bottom: 20px;
}

.main .main__container input.main__header--edit {
    font-size: 1.8rem;
    padding: 5px 0;
    margin-bottom: 20px;
}

.main .main__container .main__content {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main .main__container .main__menu {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}

.main .main__container .menu__modal {
    position: absolute;
    top: 22px;
    right: 10px;
}

.main .main__container .menu__modal li {
    padding-left: 10px;
    padding-right: 10px;
}

.main .main__container .menu__modal li:hover {
    background-color: #90d5ff;
    cursor: pointer;
}

.main .main__container .menu__modal .menu {
    position: absolute;
    top: 20px;
    right: 2px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #6a6a6a;
    z-index: 3;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 22px;
    min-width: 135px;
    box-sizing: border-box;
}

.main .main__container .menu__modal .menu li {
    padding-left: 10px;
    padding-right: 10px;
}

.main .main__container .menu__modal .menu li:hover {
    background-color: #90d5ff;
    cursor: pointer;
}
