.main {
    height: 85vh;
    grid-area: main;
    border-bottom: 1px solid var(--base-sub-color);
}

.main .main__container {
    padding: 20px;
}

.main .main__container .main__header {
    font-size: 1.8rem;
    padding: 5px 0;
    margin-bottom: 20px;
}

.main .main__container .main__content {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
