:root {
    --base-background-color: #f5f5f5;
    --base-font-color: #272727;
    --base-sub-color: #adadad;
}

body {
    width: 100%;
    background-color: var(--base-background-color);
    color: var(--base-font-color);
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "header header"
        "sidebar main"
        "sidebar main"
        "footer footer";
    overflow: hidden;
}
