:root {
    --base-background-color: #f5f5f5;
    --base-font-color: #272727;
}

body {
    width: 100%;
    background-color: var(--base-background-color);
    color: var(--base-font-color);
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "header header"
        "sidebar main"
        "sidebar main"
        "footer footer";
}

.header {
    /* test */
    background-color: aqua;
    /* test */
    height: 10vh;
    grid-area: header;
}

.sidebar {
    /* test */
    background-color: chartreuse;
    /* test */
    height: 85vh;
    grid-area: sidebar;
}

.main {
    /* test */
    background-color: crimson;
    /* test */
    height: 85vh;
    grid-area: main;
}

.footer {
    /* test */
    background-color: darkgoldenrod;
    /* test */
    height: 5vh;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}
